<div class="m-auto">

  <div class="flex">
    <div class="flex-1">
      <div class="p-10 text-2xl font-bold">
        Perfil
      </div>
    </div>
    <div>
      <a routerLink="#" class="block text-center m-10 bg-gray-400 w-40 p-4">
        <b class="text-white">KYC</b>
      </a>
    </div>
  </div>
  
<div class="w-full bg-gray-400">

  <div class="flex">
    <div class="w-2/5 overflow-y-auto justify-center p-20">
      <div class="flex justify-center">
        <div class="bg-gray-500 items-center rounded-full h-[20vh] w-[20vh]">
          
        </div>
      </div>
      <div class="text-center ">
        <p class="text-2xl p-5"><b>Profile Name</b></p>
       
      </div>
    </div>
  
    <div class="w-3/5 overflow-y-auto p-20">
      <div class="bg-gray-200 w-full h-[25vh]">
        <div *ngIf="user">
          <h1>{{ user.usermane }}</h1>
          <img [src]="user.image" alt="User Image">
          <p>Email: {{ user.email }}</p>
          <p>Description: {{ user.description }}</p>
          <p>Wallet: {{ user.wallet }}</p>
          <p>Registration Date: {{ user.registrationDate | date }}</p>
          <!-- you can add other fields similarly -->
        </div>
      </div>
    </div>
  </div>

</div>

<div class="w-full bg-gray-400 mt-20">
  <div class="p-5">
    <div class="m-5 p-5 bg-white text-center">Proposal Id / Name / Time left</div>
    <div class="m-5 p-5 bg-white text-center">Proposal Id / Name / Time left</div>
    <div class="m-5 p-5 bg-white text-center">Proposal Id / Name / Time left</div>
  </div>
</div>