<div class="m-auto">
    <div class="p-10 text-2xl font-bold">
        Tracking
    </div>
</div>

<div>
    <div class="bg-gray-500 p-5">
        <div class="m-5 p-5 bg-white text-center">Proposal Id / Name / Time left</div>
        <div class="m-5 p-5 bg-white text-center">Proposal Id / Name / Time left</div>
        <div class="m-5 p-5 bg-white text-center">Proposal Id / Name / Time left</div>
        <div class="m-5 p-5 bg-white text-center">Proposal Id / Name / Time left</div>
    </div>
</div>