<!-- create-proposal.component.html -->
<div class="create-proposal" >
    <h2>Create Proposal</h2>
    <form (ngSubmit)="submitProposal()">
      <!-- Campaign Receiver Address -->
      <div class="form-group">
        <label for="campaignReceiver">Campaign Receiver Address:</label>
        <input type="text" id="campaignReceiver" name="campaignReceiver" [(ngModel)]="campaignReceiver" required>
      </div>
      
      <!-- Campaign IPFS -->
      <div class="form-group">
        <label for="campaignIpfs">Campaign IPFS:</label>
        <input type="text" id="campaignIpfs" name="campaignIpfs" [(ngModel)]="campaignIpfs" required>
      </div>
      
      <!-- Amount Requesting -->
      <div class="form-group">
        <label for="amountRequesting">Amount Requesting:</label>
        <input type="number" id="amountRequesting" name="amountRequesting" [(ngModel)]="amountRequesting" required>
        <p class="error" *ngIf="amountRequesting <= 0">Amount must be greater than 100</p>
      </div>
      
      <!-- Campaign End Time -->
      <div class="form-group">
        <label for="campaignEndTime">Campaign End Time (in hours):</label>
        <input type="number" id="campaignEndTime" name="campaignEndTime" [(ngModel)]="campaignEndTime" required>
        <p class="error" *ngIf="campaignEndTime < 6 || campaignEndTime > 30 * 24">Campaign End Time must be between 6 and 720 hours (30 * 24).</p>
      </div>
      
      <!-- Submit Button -->
      <button type="submit">Submit Proposal</button>
    </form>
  </div>
  