
<div class="m-auto">

    <div class="w-full bg-white">
        <div class="p-10">
            <div class="w-full h-4 bg-brand-background rounded-full mt-2">
              <div class="h-full bg-brand-primary rounded-full" [style.width.%]="raisedPercentage"></div>
            </div>
            <div class="flex justify-between">
                <span>Value Raised: {{amountLeft}} </span>
                <span>Value Requested: {{proposal.amountRequested}}</span>
              </div>
          </div>
          
        <div class="flex">
              
            <div class="w-2/5 overflow-y-auto justify-center p-20">
                <div class="flex justify-center">
                    <div class="bg-gray-500 items-center rounded-full h-[20vh] w-[20vh]"></div>
                </div>
                <div class="text-center ">
                    <p class="text-2xl p-5"><b>{{proposal.title}}</b></p>
                </div>
            </div>
            
            <div class="w-3/5 overflow-y-auto p-20">
                <div class="bg-brand-background w-full h-[7vh] mb-10 text-center rounded-lg">
                    <b>Amount Requested</b>
                    <br/>
                    {{proposal.amountRequested}}
                </div> 
                <div class="bg-brand-background w-full h-[7vh] mb-10 text-center rounded-lg">
                    <b>Reciever Address</b>
                    <br/>
                    {{proposal.receiverAddress}}</div>
                <div class="bg-brand-background w-full h-[7vh] mb-10 text-center rounded-lg">
                    <b>Campaign Address</b>
                    <br/>
                    {{proposal.proposalAddress}}</div>
            </div>
            
        </div>
    </div>

    <div class="w-full bg-white">
        <div class="bg-brand-background w-[80%] m-auto h-[15vh] mb-10">
            <p>{{proposal.description}}</p>
        </div>
        <br/>
        
        <a routerLink="#" class="block text-center m-10 bg-brand-secondary p-5">
            <b class="text-white">Donate</b>
        </a>
        <br/>
    </div>
</div>