<style>
  .container_70 {
    width: 60%;
    margin-left: 10%;
  }
</style>

<div class="bg-white">
  <div class="p-4 bg-gray-400">
    <div class="flex items-center justify-between gap-6">
      <img src="../assets/venture-miner-logo.png" class="w-32 bg-wite" />
      <div class="flex flex-row items-center gap-4 text-sm">
        <span
          class="p-4 font-bold text-white rounded bg-gray-500"
          *ngIf="currentChainId()"
          >Network ID {{ currentChainId() }}</span
        >
        <span
          class="p-4 font-bold text-white break-all rounded bg-gray-500"
          *ngIf="currentAccount()"
          >{{ currentAccount() }}</span
        >
        <span
          class="p-4 font-bold text-white break-all rounded bg-gray-500"
          *ngIf="balance()"
          >{{ balance() }}</span
        >
        <span
          class="p-4 font-bold text-white break-all rounded cursor-pointer bg-gray-500"
          *ngIf="hasMetamask && !currentAccount()"
          (click)="connectWallet()"
          >CONNECT WALLET</span
        >
        <span
          class="p-4 font-bold text-white rounded bg-brand-yellow"
          *ngIf="!hasMetamask"
          >PLEASE INSTALL METAMASK</span
        >
      </div>
    </div>
    <table
      class="text-gray-500 font-bold rounded bg-white break-all mt-10 w-full"
      *ngIf="tokenBalances.length"
    >
      <thead class="bg-gray-500 bg-opacity-10">
        <tr>
          <th class="px-6 py-4">Contract Address</th>
          <th class="px-6 py-4">Token Balance</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let tokenBalance of tokenBalances">
          <tr class="border-b last:border-b-0">
            <td class="px-6 py-4">
              {{ tokenBalance.contractAddress }}
            </td>
            <td class="px-6 py-4">
              {{ tokenBalance.tokenBalance }}
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>

  <div class="flex">

    <div class="w-1/5 h-screen overflow-y-auto bg-gray-300">
        <ul class="mt-12">
        <li>
            <a routerLink="dashboard" class="block text-center py-5 my-5 bg-gray-200">
            <b>Dashboard</b>
            </a>
        </li>
        <li>
            <a routerLink="/proposals" class="block text-center py-5 my-5 bg-gray-200">
            <b>Proposals</b>
            </a>
        </li>
        <li>
            <a routerLink="/tracking" class="block text-center py-5 my-5 bg-gray-200">
            <b>Tracking</b>
            </a>
        </li>
        <li>
            <a routerLink="/perfil" class="block text-center py-5 my-5 bg-gray-200 text-28">
            <b>Perfil</b>
            </a>
        </li>
        </ul>

        <a routerLink="/create-proposal" class="block text-center py-5 m-10 bg-gray-500">
          <b class="text-white">Create Proposal</b>
        </a>
  
        <div class="flex justify-center mt-20">
          <div class="bg-gray-500 items-center rounded-full h-[20vh] w-[20vh]">
          </div>
        </div>
        <div class="text-center">
          <p class="text-2xl p-5"><b>Profile Name</b></p>
        </div>
        
    </div>

    <!-- Scrollable Main Content (80% width) -->
    <div class="container_70">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>


