<div class="m-auto">
    <div class="p-10 text-2xl font-bold">
        Proposals
    </div>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3 gap-10">

        <div class="bg-white p-4 shadow-md">
            <img src="../../assets/hospital.jpg" alt="Product 1" class="w-full h-auto">
            <div class="flex">
                <div class="w-1/2 p-4">
                    <p class="text-xl font-semibold mt-2">Proposal 1</p>
                </div>
                <div class="w-1/2 p-4">
                    <p class="text-xl mt-2">1 000 000 Matic</p>
                </div>
            </div>
            <a routerLink="/create-proposal" class="block text-center py-5 bg-gray-500">
                <b class="text-white">View Proposal</b>
            </a>
        </div>

        <div class="bg-white p-4 shadow-md">
            <img src="../../assets/hospital.jpg" alt="Product 1" class="w-full h-auto">
            <div class="flex">
                <div class="w-1/2 p-4">
                    <p class="text-xl font-semibold mt-2">Proposal 1</p>
                </div>
                <div class="w-1/2 p-4">
                    <p class="text-xl mt-2">1 000 000 Matic</p>
                </div>
            </div>
            <a routerLink="/create-proposal" class="block text-center py-5 bg-gray-500">
                <b class="text-white">View Proposal</b>
            </a>
        </div>


        <div class="bg-white p-4 shadow-md">
            <img src="../../assets/hospital.jpg" alt="Product 1" class="w-full h-auto">
            <div class="flex">
                <div class="w-1/2 p-4">
                    <p class="text-xl font-semibold mt-2">Proposal 1</p>
                </div>
                <div class="w-1/2 p-4">
                    <p class="text-xl mt-2">1 000 000 Matic</p>
                </div>
            </div>
            <a routerLink="/create-proposal" class="block text-center py-5 bg-gray-500">
                <b class="text-white">View Proposal</b>
            </a>
        </div>


        <div class="bg-white p-4 shadow-md">
            <img src="../../assets/hospital.jpg" alt="Product 1" class="w-full h-auto">
            <div class="flex">
                <div class="w-1/2 p-4">
                    <p class="text-xl font-semibold mt-2">Proposal 1</p>
                </div>
                <div class="w-1/2 p-4">
                    <p class="text-xl mt-2">1 000 000 Matic</p>
                </div>
            </div>
            <a routerLink="/create-proposal" class="block text-center py-5 bg-gray-500">
                <b class="text-white">View Proposal</b>
            </a>
        </div>


        <div class="bg-white p-4 shadow-md">
            <img src="../../assets/hospital.jpg" alt="Product 1" class="w-full h-auto">
            <div class="flex">
                <div class="w-1/2 p-4">
                    <p class="text-xl font-semibold mt-2">Proposal 1</p>
                </div>
                <div class="w-1/2 p-4">
                    <p class="text-xl mt-2">1 000 000 Matic</p>
                </div>
            </div>
            <a routerLink="/create-proposal" class="block text-center py-5 bg-gray-500">
                <b class="text-white">View Proposal</b>
            </a>
        </div>

    </div>
</div>
  
 